.main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.inputWrapTwo {
  margin-bottom: 30px;
  padding: 0px 20px;
}

.inputWrapTwo input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid gray;
  padding-left: 10px;
}

.inputWrapTwo h3 {
  font-size: 15px;
  font-weight: bold;
}

.btnWrap {
  padding: 0px 20px;
}

.btnWrap div {
  width: 100%;
  background-color: #ff00c7;
  height: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
}

.btnWrap:hover {
  cursor: pointer;
}
