.iconWrap {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 20px 0px;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    /* border: 1px solid black; */
    margin: 20px 0px;
}
.main {
    /* background-color: coral !important; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.logoImage {
    height: 70px;
    width: 150px;
    /* background-color: crimson; */
    position: absolute;
    top: 2vh;
    margin-left: 5vw;
}
.logoImage:hover {
    cursor: pointer;
}
.mainWrap h1 {
    color: var(--purpleShadeOne);
    font-weight: bold !important;
}
.innerWrap {
    display: flex;
    flex-direction: column;
}
.innerWrap input {
    width: 90%;
    height: 50px;
    outline: none;
    border: 0px;
    /* border: 2px solid var(--purpleShadeOne);
    border-radius: 8px; */
    /* margin: 10px 0px; */
}
.innerWrap input {
    /* padding: 0px 15px; */
}
.inpWrap {
    /* border: 1px solid black; */
    width: 50vw;
    height: 55px;
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--purpleShadeOne);
    border-radius: 8px;
    margin: 10px 0px;
    align-items: center;
}
.innerWrap img {
    width: 30px;
    height: 30px;
}

.modalWrap {
    width: 70vw !important;
}

.btn {
    background-color: var(--themePink);
    color: white;
    border: 0px !important;
    margin: 10px auto !important;
    border-radius: 8px;
}
.btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.already {
    cursor: pointer;
}

.already span {
    color: var(--themePink);
}

.forgot {
    justify-content: flex-end;
    text-align: right;
    margin: 5px 0px;
    margin-bottom: 30px;
    color: var(--purpleShadeOne);
}

.forgot:hover {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .inpWrap {
        width: 60vw;
    }
}

@media (max-width: 800px) {
    .inpWrap input {
        width: 85%;
    }
}

@media (max-width: 550px) {
    .inpWrap input {
        width: 80%;
    }

    .modalWrap {
        width: 80vw !important;
    }

    .inpWrap {
        width: 70vw;
    }
}
